body{
    margin: 0;
    padding: 0;
    font-family: Arial, san-sefif;

}

nav ul{
    list-style: none;
    background-color: #4a4a4f;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 4px;
    display: inline-block;
    margin: 2.5%;

}

nav a{

    text-decoration: none;
    color: #fff;
    display: block;
    
    }

nav a:hover{
    background-color: #fff;
    color:#4a4a4f;
}
#contain_cards{
    margin: 0 auto;
    width: 90%;
    left: 150;
    height: 90%;
    padding-bottom: 50px;
   
}

.card{
    float: left;
    width: 30%;
    margin-left: 3%;
   
}


.card a{
    text-align: center;


}

img {
    width: 100%;
    height: 140px;

}

h1{
    text-align: center;
}

